.my-wall-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 350px; 
    margin-left: 35%;
}

.h1 {
    font-family: 'Gravitas One', cursive;
    color: #DACA3B;
  }

.post{
    border-radius: 2px;
    border: solid 2px rgba(199, 199, 199, 0.796);
    padding: 5px 5px;
}

.post-para{
    color: grey;
    text-align: right;
}

.wall-header {
    background-color: #e0e0e0; 
    padding: 10px; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    font-weight: bold; 
    color: #333; 
}

.wall-content {
    padding: 15px; 
    background-color: #fff; 
}

.wall-message {
    background-color: #ffffff; /* Fond clair pour les messages */
    border-radius: 8px; /* Coins arrondis pour les bulles de message */
    margin: 10px 0; /* Espacement vertical entre les messages */
    padding: 10px; /* Espace interne pour les messages */
    font-size: 14px; /* Taille de police appropriée pour les messages */
}

.wall-input-area {
    border-top: 1px solid #ccc; /* Ligne de séparation */
    padding: 10px; /* Padding autour de la zone de saisie */
    display: flex; /* Utilise flexbox pour aligner les éléments de saisie */
    align-items: center; /* Centre les éléments verticalement */
    background-color: #20835D; /* Fond blanc pour la zone de saisie */
}

.wall-input {
    flex: 1; /* Permet à l'input de prendre tout l'espace disponible */
    margin-right: 10px; /* Espacement à droite de l'input */
    padding: 8px; /* Padding intérieur de l'input */
    border: 1px solid #ccc; /* Bordure subtile pour l'input */
    border-radius: 4px; /* Coins légèrement arrondis pour l'input */
}

.wall-send-button {
    padding: 8px 16px; /* Padding pour le bouton */
    background-color: #4CAF50; /* Couleur verte pour le bouton */
    color: white; /* Texte blanc pour le bouton */
    border: none; /* Aucune bordure pour le bouton */
    border-radius: 4px; /* Coins arrondis pour le bouton */
    cursor: pointer; /* Curseur pointeur pour indiquer la possibilité de cliquer */
}

.wall-upload-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-right: 10px;
    font-size: 16px; /* Taille de police pour l'icône d'upload */
}

/* Ajoute des styles pour les transitions ou les états hover si nécessaire */
.wall-send-button:hover, .wall-upload-button:hover {
    background-color: #45a049; /* Assombrir le bouton lors du survol */
}
