.inscription-container, .connexion-container, .contact-container  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #20835D;
}

.image-container, .form-container {
  width: 50%; 
}

.image-container img {
  width: 100%; 
  height: 1110px;
  display: block;
}

.form-container {
  background-color: #1D5A43;
  padding: 20px;
  border-radius: 15px;
}

.form-container h1 {
  color: #DACA3B;
  text-align: center;
}

.form-input {
  width: 100%; /* Ajusté pour uniformité */
  margin-bottom: 15px;
}

.form-container label {
  display: block;
  color: white;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"], .form-container textarea {
  width: 97%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  background-color: #DACA3B;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  display: block; /* Centrer le bouton dans son conteneur */
  margin-top: 20px;
}

.switch-form {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.switch-form span {
  cursor: pointer;
  color: #DACA3B;
}

@media (max-width: 428px) {
  .inscription-container, .connexion-container, .contact-container {
      flex-direction: column; 
      padding: 20px; 
  }

  .image-container, .form-container {
      width: 100%; 
  }

  .image-container img {
    height: 400px;
    margin-top: 15%;
  }

  .form-container {
    padding: 2px;
    margin-top: 5%;
  }

  input[type="text"], input[type="email"], input[type="password"], .form-container textarea {
      padding: 8px; 
  }

  .form-container button {
    padding: 10px;
    width: 35%;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 31%;
  }

  .form-input, .form-container label, .switch-form {
      font-size: 0.9rem; 
  }

  .form-input{
    width: 90%;
    margin-left: 2%;
    margin-bottom: 15px;
  }
}
